<section class="row">
    <div class="column column-50 column-offset-25">
        <h2 class="text-center">Login</h2>
        <form name="loginForm"
            data-ng-submit="authCtrl.login()">
            <label for="email">
                Email:
                <input type="email"
                    id="email"
                    name="email"
                    data-ng-model="auth.data.email"
                    data-ng-required="auth.data.email">
            </label>
            <span class="validation-message"
                data-ng-show="loginForm.email.$invalid">invlid email</span>
            <label for="password">
                Password:
                <input type="password"
                    id="password"
                    name="password"
                    data-ng-minlength="3"
                    data-ng-model="auth.data.password"
                    data-ng-required="auth.data.password">
            </label>
            <span class="validation-message"
                data-ng-show="loginForm.password.$invalid">invalid password</span>

            <br>
            <div class="text-center">
                <button data-ng-disabled="loginForm.$invalid || auth.isSpinner">Login</button>
                <div data-spinner data-ng-show="auth.isSpinner"></div>
            </div>
        </form>
    </div>
</section>