<section>
    <div class="row">
        <fieldset>
            Add note:
            <form action="#">
                <textarea data-ng-model="notesScope.note"></textarea>
                <button data-ng-if="!notesScope.noteToEdit" data-ng-click="notesCtrl.add()">Add note</button>
                <button data-ng-if="notesScope.noteToEdit" data-ng-click="notesCtrl.update()">Update</button>
            </form>
        </fieldset>
    </div>
    <div data-spinner data-ng-show="notesScope.isSpinner"></div>
    <div class="row" data-ng-show="notesScope.notes.length && !notesScope.isSpinner">
        <table>
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="note in notesScope.notes">
                    <td>{{ note.text }}</td>
                    <td>{{ note.date | date : 'short' }}</td>
                    <td>
                        <a class="button" data-ng-click="notesCtrl.remove(note._id)">Delete</a>
                        <a class="button" data-ng-click="notesCtrl.edit(note._id)">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" data-ng-if="!notesScope.notes.length">
        You don't have notes :(
    </div>
</section>
