<br>
<br>
<section>
    <div class="row">
        <fieldset>
            Add note:
            <form action="#">
                <textarea data-ng-model="notesScope.note"></textarea>
                <button data-ng-if="!notesScope.noteToEdit" data-ng-click="ctrl.add()">Add note</button>
                <button data-ng-if="notesScope.noteToEdit" data-ng-click="ctrl.update()">Update</button>
            </form>
        </fieldset>
    </div>
    <div class="row" data-ng-if="notesScope.notes.length">
        <table>
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="note in notesScope.notes">
                    <td>{{ note.text }}</td>
                    <td>{{ note.date }}</td>
                    <td>
                        <a class="button" data-ng-click="ctrl.remove(note._id)">Delete</a>
                        <a class="button" data-ng-click="ctrl.edit(note._id)">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" data-ng-if="!notesScope.notes.length">
        You don't have notes :(
    </div>
</section>