<section class="row">
    <div class="column column-50 column-offset-25">
        <h2 class="text-center">Sign up</h2>
        <form name="registerForm"
            data-ng-submit="authCtrl.register()">

            <label for="name">
                Username:
                <input type="text"
                    id="name"
                    name="username"
                    data-ng-model="auth.data.name"
                    data-ng-minlength="3"
                    data-ng-maxlength="25">
            </label>
            <span class="validation-message"
                data-ng-show="registerForm.username.$invalid">invlid username</span>

            <label for="email">
                Email: *
                <input type="email"
                    id="email"
                    name="email"
                    data-ng-model="auth.data.email"
                    data-ng-required="auth.data.email">
            </label>
            <span class="validation-message"
                data-ng-show="registerForm.email.$invalid && registerForm.email.$dirty">invlid email</span>

            <label for="password">
                Password: *
                <input type="password"
                    id="password"
                    name="password"
                    data-ng-model="auth.data.password"
                    data-ng-required="auth.data.password"
                    data-ng-minlength="5">
            </label>
            <span class="validation-message"
                data-ng-show="registerForm.password.$invalid && registerForm.email.$password">invlid password</span>

            <label for="repeated-password">
                Repeat password: *
                <input type="password"
                    id="repeated-password"
                    name="repeatedPassword"
                    data-ng-model="auth.data.repeatedPassword"
                    data-ng-minlength="5"
                    data-ng-required="auth.data.repeatedPassword"
                    data-password-repeat="auth.data.password">
            </label>
            <span class="validation-message"
                data-ng-show="registerForm.repeatedPassword.$invalid && registerForm.repeatedPassword.$dirty">passwords don't match</span>

            <br>
            <div class="text-center">
                <button data-ng-disabled="registerForm.$invalid || auth.isSpinner">Sign up</button>
                <div data-spinner data-ng-show="auth.isSpinner"></div>
            </div>
        </form>
    </div>
</section>